<div class= "container">
  <h1>Restaurants of the world!</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
  <h2><%= link_to 'Add new restaurant', new_restaurant_path %></h2>
</div>
